.Buttons {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  margin-left: 8%;
}

.menuButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-end;
  gap: clamp(0.6rem, 1.5vw, 1.25rem) clamp(0.5rem, 3vw, 1rem);
  margin-bottom: 3.75rem;
}

@media (max-width: 62.5rem) {
  .menuButtons {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .Buttons {
    margin-left: 5%;
  }
}

@media (max-width: 16rem) {
  .menuButtons {
    grid-template-columns: 1fr;
  }
}

/* Customize Buttons */
.customizeButton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.buttonGenerate {
  width: clamp(10rem, 50%, 30rem);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.25rem;
  background: #fff;
  border: 1px solid #999;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 0px 0.5rem rgba(221, 221, 221, 1);
  -moz-box-shadow: 0px 0px 0px 0.5rem rgba(221, 221, 221, 1);
  box-shadow: 0px 0px 0px 0.5rem rgba(221, 221, 221, 1);
}

.customizeButton h2 {
  grid-column: 1 / -1;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.input_group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.input_group .input {
  gap: 0.3rem;
}

.input_group .input input[type="checkbox"] {
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid transparent;
}

.containerInputs {
  padding-inline: 1rem;
}

.containerInputs .input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.containerInputs .input select {
  color: #4f4f4f;
  flex: 1;
  min-width: 10rem;
  width: 100%;
  border: 1px solid #ccc;
  background: transparent;
  padding: 0.5rem;
}

.containerInputs .input select:hover,
.containerInputs .input select:focus {
  outline: 0;
  background: rgba(221, 221, 221, 0.5);
}

.input label {
  color: #4f4f4f;
  font-weight: 600;
  font-size: clamp(.75rem, 4.5vw, 1rem);
}

@media (max-width: 28rem) {
  .customizeButton {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .customizeButton h2 {
    grid-column: initial;
  }
  .buttonGenerate {
    width: 100%;
    margin-bottom: 2rem;
  }
}